[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pylint = "*"
pytest = "*"
black = "*"

[requires]
python_version = "3.10"

[script]
test = "pytest -s -v"
lint = "pylint --rcfile=.pylintrc src --max-complexity=10"
